.googlemap{width:100%;height:340px;position:relative;}
.googlemap iframe{top: 0;left: 0;width: 100%;height: 100%;position: absolute;}



企業法務相談サイト
企業の法律問題でお困りの方
企業法務	相談サイト▶︎
鹿児島を中心に、300以上の企業・団体・個人の方と顧問契約を締結しております。顧問弁護士は、企業の法律問題の事前予防あるいは攻めの場面でも力になります。大きなトラブルが発生する前に、ぜひ弁護士へご相談ください。
交通事故相談サイト
交通事故の賠償金でお困りの方
交通事故	相談サイト▶︎
鹿児島県内最大級の実績を誇る事故・傷害部です。交通事故被害者やそのご家族の悩みや苦しみを少しでも減らすため死力を尽くします。後遺障害、賠償金、保険会社対応など、些細なことでもお気軽に弁護士にご相談ください。
離婚問題相談サイト
「離婚したい」とお考えの方
離婚問題	相談サイト▶︎
鹿児島を中心に年間300件程の離婚のご相談に対応しており、地方都市の弁護士事務所の中でも有数の実績を誇ります。離婚に強い弁護士とスタッフのチーム制で、お客様の最大のサポーターとして尽力させていただきます。
債務整理相談サイト
借金・住宅ローンの返済でお悩みの方
債務整理	相談サイト▶︎
地元鹿児島の弁護士ならではの、安心・納得・素早い対応で、借金のお手続きの圧倒的な解決実績を誇っています。経験豊富な弁護士とスタッフによるサポート体制で、お客様に最適なお手続き方法をご提案いたします。
相続トラブル相談サイト
相続トラブルでお悩みの方
相続トラブル	相談サイト▶︎
相続案件に注力して対応する弁護士が在籍。相続発生後のご相談はもちろん、相続発生前の事前の準備や対策に関する問題も全て承っております。少しでもご不安がある方は、ぜひ一度弁護士法人グレイスにご相談ください。
技能実習法相談サイト
外国人技能実習生の監理団体の方
技能実習制度	相談サイト▶︎
技能実習の監理事業の見直しや技能実習法に対する対策は万全ですか？弁護士法人グレイスが外国人技能実習生の監理団体の事業遂行をお手伝いするとともに、不当な行政処分や行政指導からお守りします。ぜひ一度ご相談ください。
福岡離婚問題相談サイト
福岡で「離婚したい」とお考えの方
福岡離婚	相談サイト▶︎
福岡で離婚問題・男女問題にお悩みの方を、全力でサポートいたします。他事務所の弁護士の講師になるほど、離婚についての知識と経験が豊富な弁護士とスタッフのチーム制で、お客様を包括的に支援させていただきます。
福岡不倫慰謝料相談サイト
福岡で浮気・不倫にお悩みの方
福岡不倫慰謝料	相談サイト▶︎
福岡でパートナーの不倫・浮気にお悩みの方、突然不倫慰謝料を請求されてお困りの方を、不倫慰謝料に強い弁護士とスタッフがサポートいたします。年間300件以上の男女問題に対応する圧倒的な実績と知識がございます。
交通事故中国語サイト
为遭遇交通事故的中国人士获取更高赔偿金！
为在日本居住的中国人士交通事故受害者提供法律咨询	▶︎
中国人士的交通事故问题，由法律专家和中国律