.thumbnail{
    box-sizing:border-box;
    position:relative;
    width:100%;
}

.thumbnail:before{
    content:"";
    display: block;
    padding-top: 65%;
}

.thumbnail > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
